.App {
  background-color: #0e71e6;
  background: linear-gradient(90deg, #0a50a1 0%, #bd1682 50%, #af2d52 100%);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
  text-decoration: underline;
}

.App-header {

  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  color: azure;
  font-size: x-large;
  font-weight: bold;
}

#paragraph {
  width:40%;
}

code {
  color:white;
  background-color: rgb(32, 32, 32, .6);
  padding:4px;
  border-radius: 4px;
  font-family: monospace;
  opacity: 1;
}
